/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} 
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
.button-filter{
	background-color: white;
  	color: #1D6154;
  	border-color: #1D6154;
  	border-radius: 60px;
  	font-family: 'Syne';
  	font-weight: 600;
  	font-size: 16px;
  	line-height: 19px;
  	text-align: center;
	padding-left: 10px;
  	padding-right: 10px;
  	margin: 10px;
  	height: 40px;
  	min-width: 100px;
}

.button-filter:hover {
  	background-color: #1D6154;
  	color: white;
  	cursor: pointer;

}
.button-active {
	background-color: #1D6154;
	color: white;
	cursor: pointer;
}
.filters{
	display: flex;
  	flex-direction: row;
  	justify-content: center;
}
a:link {
	text-decoration: none;
}
a:visited {
	color: #000000;
}
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-link {
    font-family: 'Work Sans';
    color: #000000;
}

.login-form {
    display: flex;
    flex-direction: column;
    min-width: 380px;
    margin-top: 35px;
}

.login-form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.login-form-input {
    
    border: none;
    background: #ffffff;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	height: 51px;
    margin-top: 5px;
    padding-left: 10px;
    font-size: 16px;
}

.login-form-submit {
    width: 179px;
    height: 37px;
    margin-top: 5px;
    align-self: center;
    color: white;
    background: #1d6154;
    border: 1px solid #1d6154;
    border-radius: 60px;
    font-family: 'Syne';
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

.login-form-link {
    align-self: center;
    margin-top: 35px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #3d3d3d;
}
.error-span{
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
}
.hidden{
	display: none;
}
.logged-only{
	display: none;
}
.bannerEdit {
	font-size: 16px;
	background-color: black;
	display: none;
	justify-content: center;
}
.editP {
	display: flex;
	justify-content: center;
	color: white;
	text-decoration: none;
	height: 50px;
	padding-top: 30px;
}
.editM {
	display: none;
	justify-content: center;
	color: rgb(0, 0, 0);
	text-decoration: none;
	height: 50px;
	padding-top: 10px;
	padding-left: 15px;
	cursor: pointer;
}
.flex{
	display: flex;
	justify-content: center;
}
.mod{
	margin-left: 15px;
}
.properMod{
	padding-left: 5px;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
.modal-content {
	background-color: #fefefe;
	margin: 10% auto;
	padding: 15px;
	border: 1px solid #888;
	width: 30%;
	height: 65%;
	border-radius: 20px;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
	
  }

.close:hover,.close:focus {
	color: black;
}

.modal-center{
	display: flex;
	justify-content: center;
}

.modal-label{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 26px;
}

.modal-border{
	border-bottom: 1px solid #d2d1d1;
  	margin-top: 50px;
	width: 80%;
}

.modal-button{
	background-color: #1D6154;
  	color: white;
  	border-radius: 60px;
  	font-family: 'Syne';
  	font-weight: 600;
  	font-size: 16px;
  	line-height: 19px;
  	text-align: center;
	width: 40%;
  	margin: 10px;
  	height: 40px;
  	min-width: 100px;
	margin-top: 10px;
}

.modal-projects{
	height: 290px;
	width: 80%;
	margin-top: 20px;

}
.modal-add-pic{
	height: 150px;
	background-color: #e8f1f6;
	border-radius: 5px;
}
.modal-input{
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-top: 15px;
}
.modal-input-uni{
	height: 40px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	font-size: 20px;
	background: #ffffff;

}
.ico{
	height: 65px;
	width: 70px;
	padding-top: 13px;
}
.add-pic-column{
	display: flex;
	flex-direction: column;
	justify-content: center;
  	align-items: center;
	width: 100%;
}

.add-pic-button{
	background-color: #cbd6dc;
  	color: #1D6154;
  	border-radius: 60px;
  	font-family: 'Syne';
  	font-weight: 600;
  	font-size: 16px;
  	line-height: 19px;
  	text-align: center;
	width: 40%;
  	margin: 10px;
  	height: 30px;
  	width: 50%;
	margin-top: 10px;
}
.projects{
	height: 90px;
	width: 85%;
	margin: 2px;
}
.container-slot{
	width: 100%;
	position: relative;
	display: inline-block;
}

.image-container {
	position: relative;
	display: inline-block;
}

.new-label{
	padding: 0;
	margin: 0;
}
.pic-slot{
	height: 150px;
	margin: 0;
    border: 0;
    padding: 0;
	display: none;
}

.send{
}

.invis{
	display: none;
}

.trash {
	height: 25px;
	width: 25px;
    position: absolute;
    margin-top: 5px;
    left: 35px;
    background-color: #000; 
    color: #fff; 
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
}

.back{
	color: #aaa;
	float: left;
	font-size: 18px;
	padding: 8px;
	font-weight: bold;
	cursor: pointer;
	display: none;
}

.back:hover,.back:focus {
	color: black;
}
